= pie_chart [["Football", 10], ["Basketball", 5]]
= line_chart [{name: "Series A", data: {20.day.ago => 2, 4 => 6, "2013-05-07 00:00:00 UTC" => 8}},{name: "Series B", data: {20.day.ago => 5, 6 => 4, "2013-05-07 00:00:00 UTC" => 7}}]