$carousel-width: 100%; // used as default. override with js
$carousel-horizontal-padding: 10px;
$carousel-transition-property: left;
$carousel-transition-duration: .3s;
$carousel-transition-easing-function: ease-out;
$carousel-transition: $carousel-transition-property $carousel-transition-duration $carousel-transition-easing-function;

.chevron {
  height: 200px;
  position: relative;

  a.prev {
    float: left;
    height: 100%;
    position: relative;
  }

  a.next {
    float: right;
    height: 100%;
    position: relative;
  }
  
  i.icon-chevron-right, i.icon-chevron-left {
    top: 50%;
    position: absolute;
  }
}

.carousel {
  position: relative;
  padding: 10px 0 0 0;
  margin: 0 0 20px 10px;
  left: 0;
  width: $carousel-width;
  background-color: white;

  ul {
    position: relative;
    left: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    
    li {
      list-style-type: none;
      list-style: none;
      text-align: center;
      float:  left;
      padding: 0, 15px, 0, 15px;
      display: inline-block;
      width: 230px;
      height: 200px;
      vertical-align: bottom;
    } // li
  } // ul
} // .carousel
              

#actors, #similar {
  display: block;
  text-decoration: none;
}
    
.image-tile {
  position: absolute;
  .image img {
    max-width: 230px;
    max-height: 350px;
  }
}

.info-section {
  height: 110px;
  position: relative;
}

