input[type=text].search-box {
  border: 1px solid #d5d5d5;
  line-height: 20px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  padding: 10px 0;
  color: white;
  width: 250px;
  float: right;
  form {
    margin: 0;
    position: relative;
    z-index: 4;
  }
}