- if carousel.lazy_load?
	.row.carousel{:'data-lazy-load' => carousel.lazy_load_resource}
- elsif carousel.has_tiles?
	.row.carousel
		=render "common/carousel_items", {tiles: carousel.tiles, link: '' }
