%p
	%a{:class => 'prev'}
		<
.carousel
	%ul
		- tiles.each do |tile|
			- if tile.image_path
				- path = Settings.tmdb.base_url + "/" + Settings.tmdb.poster.size.tile + tile.image_path
				%li.item-tile
					.image-tile
						%span.image
							= image_tag path
						.info-section
							.caption
								= tile.image_text
%p
	%a{:class => 'next'}
		>
