<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
		</ul>
	</nav>
	Data provided by: <%= image_tag "http://www.themoviedb.org/images/logos/tmdb-logo-1.png", size: "200x80" %>
</footer>