.navbar.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:target => '.navbar-inverse-collapse', :toggle => 'collapse'}}
      -#= link_to "RBMS", root_path, {:class => 'navbar-brand'}
      .nav-collapse.collapse.navbar-inverse-collapse
        %ul.nav
          %li.active
            = link_to "Home", root_path
          %li
            = link_to "Help", "#"
